.header {
    background-color: #2C3E50;
    color: white;
    padding: 20px 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .name {
    font-size: 2em;
    margin: 0;
  }
  
  .title {
    font-size: 1.5em;
    margin: 0;
  }
  
  .contacts p {
    margin: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  