<div class="contact-info">
    <div class="info-column">
      <h1>Para más información contáctame</h1>
      <div class="info-item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png" alt="Correo electrónico" style="width: 100px; height: 100px">
        <h2>Gmail</h2>
        <p>abnerivan2003@gmail.com</p>
      </div>
      <div class="info-item">
        <img src="https://assets.stickpng.com/thumbs/5a4525cd546ddca7e1fcbc84.png" alt="Teléfono" style="width: 100px; height: 100px">
        <h2>Teléfono</h2>
        <p>+502 3748 2633</p>
      </div>
    </div>
    <div class="info-column">
      <h1>&nbsp;</h1> <!-- Placeholder para alinear con 'Contactame' -->
      <div class="info-item">
        <img src="/assets/github.png" alt="Github" style="width: 250px; height: 250px">
        <h2>Mi Github</h2>
        <h2><a href="https://github.com/GarciaAlegria">Git</a></h2>
      </div>
    </div>
  </div>
  